In [ ]:
import duckdb

# Connect to the database
conn = duckdb.connect("donations.duckdb", read_only=True)

# For complete_donor
complete_donor_schema = conn.execute("DESCRIBE complete_donor").df()
print("Schema for complete_donor:")
display(complete_donor_schema)

# For daily_donor
daily_donor_schema = conn.execute("DESCRIBE daily_donor").df()
print("Schema for daily_donor:")
display(daily_donor_schema)

# For daily_donor_rates
daily_donor_rates_schema = conn.execute("DESCRIBE daily_donor_rates").df()
print("Schema for daily_donor_rates:")
display(daily_donor_rates_schema)

# For daily_retention
daily_retention_schema = conn.execute("DESCRIBE daily_retention").df()
print("Schema for daily_retention:")
display(daily_retention_schema)

In [ ]:
import duckdb

# Connect to the single database
conn = duckdb.connect("donations.duckdb", read_only=True)

# Fetch last 10 rows from complete_donor
df = conn.execute("""
SELECT rowid, *
FROM complete_donor
ORDER BY rowid DESC
LIMIT 10
""").df()

df

# complete_donor
# Results: 
# - There is 9331995 rows in complete_donor and only goes up to 2025-10-29
# - complete_donor has the same column as daily_donor
# - This file is not being updated daily so there is only data up to 2025-10-29 (the day that I was given the link to this parquet)
# - Columns: inst_code, visit_date, previous_visit, donation_type, donation_location, classification_id, blood_group
# Update (28/11/2025):
# - complete_donor now has the latest info from daily_donor as it updates and adds the daily_donor information
#   into its table whenever the code to connect to duckdb is run again

,rowid,inst_code,visit_date,previous_visit,donation_type,donation_location,classification_id,blood_group
0,9361091,11-10040013,2025-11-26,2025-06-20,1,C,C,O
1,9361090,11-02030085,2025-11-26,2025-03-10,1,M,C,O
2,9361089,11-02030085,2025-11-26,2025-04-16,1,M,P,O
3,9361088,11-02030085,2025-11-26,2015-08-12,1,M,C,O
4,9361087,11-02030085,2025-11-26,2025-04-16,1,M,C,A
5,9361086,11-02030085,2025-11-26,2025-04-16,1,M,C,A
6,9361085,11-02030085,2025-11-26,2024-03-11,1,M,C,B
7,9361084,11-02030085,2025-11-26,1800-08-10,1,M,C,AB
8,9361083,11-02030085,2025-11-26,2018-09-19,1,M,A,A
9,9361082,11-02030085,2025-11-26,2025-04-16,1,M,P,AB

In [10]:
# Connect to the single database
conn = duckdb.connect("donations.duckdb", read_only=True)

# Fetch last 10 rows from daily_donor
df = conn.execute("""
SELECT rowid, *
FROM daily_donor
ORDER BY rowid DESC
LIMIT 10
""").df()

df

# daily_donor
# Results:
# - This is a daily file for donor which goes up to the date that is being hardcoded in the parquet link (hardcoded atm: 2025-10-29)
# - Some dates there are no data for this (so for example today's date there might not be a data so cant download the parquet)
# - Maybe needs error handling to retrieve the latest data that is available nearest to the current day of today.
# - Columns: inst_code, visit_date, previous_visit, donation_type, donation_location, classification_id, blood_group

# Update (27/11/2025)
# - Updated the blood_database so that it uploads today's file and if that is not available, it iterates through the previous days until it founds
#   the latest files that can be downloaded

,rowid,inst_code,visit_date,previous_visit,donation_type,donation_location,classification_id,blood_group
0,1445,11-10040013,2025-11-26,2025-06-20,1,C,C,O
1,1444,11-02030085,2025-11-26,2025-03-10,1,M,C,O
2,1443,11-02030085,2025-11-26,2025-04-16,1,M,P,O
3,1442,11-02030085,2025-11-26,2015-08-12,1,M,C,O
4,1441,11-02030085,2025-11-26,2025-04-16,1,M,C,A
5,1440,11-02030085,2025-11-26,2025-04-16,1,M,C,A
6,1439,11-02030085,2025-11-26,2024-03-11,1,M,C,B
7,1438,11-02030085,2025-11-26,1800-08-10,1,M,C,AB
8,1437,11-02030085,2025-11-26,2018-09-19,1,M,A,A
9,1436,11-02030085,2025-11-26,2025-04-16,1,M,P,AB

In [7]:
# Connect to the single database
conn = duckdb.connect("donations.duckdb", read_only=True)

# Fetch last 10 rows from daily_donor_rates
df = conn.execute("""
SELECT rowid, *
FROM daily_donor_rates
ORDER BY rowid DESC
LIMIT 10
""").df()

df

# daily_donor_rates
# Results:
# - This daily donor rates file is being updated daily. Last time that was checked is latest: 2025-11-25 therefore data is up to this date.
# - To retrieve latest data, maybe can delete old file and replace with new file
# - Columns: inst_code, gender, race, birth_date, latest

# Update (27/11/2025)
# - It now will load in the latest file after making some logic changes in blood_database whereby it deletes old file and replace it with new one
#   once it the script runs again

    rowid    inst_code gender  race  birth_date     latest
0  643802  11-14010001      M    11        1984 2025-11-26
1  643801  11-14010001      M    11        1998 2025-11-26
2  643800  11-14010001      M    11        1987 2025-11-26
3  643799  11-14010001      F    11        1990 2025-11-26
4  643798  11-14010001      M    11        1983 2025-11-26
5  643797  11-14010001      M    11        1986 2025-11-26
6  643796  11-14010001      F    11        1992 2025-11-26
7  643795  11-14010001      M    11        1978 2025-11-26
8  643794  11-14010001      M     3        1980 2025-11-26
9  643793  11-14010001      M    11        1999 2025-11-26

In [6]:
# Connect to the single database
conn = duckdb.connect("donations.duckdb", read_only=True)

# Fetch last 10 rows from daily_retention
df = conn.execute("""
SELECT rowid, *
FROM daily_retention
ORDER BY rowid DESC
LIMIT 10
""").df()

df

# daily_retention
# Results:
# - This daily retention file is being updated daily. Last time that was checked is latest: 2025-11-25 therefore data is up to this date.
# - To retrieve latest data, maybe can delete old file and replace with new file (similar to daily_donor_rates)
# - Columns: donor_id, visit_date, birth_date

# Update (27/11/2025)
# - It now will load in the latest file after making some logic changes in blood_database whereby it deletes old file and replace it with new one
#   once it the script runs again

     rowid donor_id visit_date  birth_date
0  6914183    07OuG 2025-11-26        1997
1  6914182    03MvZ 2025-11-26        1983
2  6914181    02fqz 2025-11-26        1977
3  6914180    04VUR 2025-11-26        1997
4  6914179    03Icn 2025-11-26        1990
5  6914178    00lB1 2025-11-26        1979
6  6914177    01z8n 2025-11-26        1997
7  6914176    09kBr 2025-11-26        1968
8  6914175    019Tj 2025-11-26        1981
9  6914174    02RGA 2025-11-26        1992

In [25]:
conn.close()